Host china-ubuntu-01
HostName 192.168.1.2
User keqee7gy3a6s4u
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-01-%h%p%r.ctrl_path

Host china-ubuntu-52
HostName 192.168.1.2
User dm33pgk74v29te
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-02-%h%p%r.ctrl_path

Host china-ubuntu-53
HostName 192.168.1.2
User dm33pgk74v29te
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-03-%h%p%r.ctrl_path

Host china-ubuntu-04
HostName 192.168.1.2
User i9flz7nfyd2hnk
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-04-%h%p%r.ctrl_path

Host china-ubuntu-05
HostName 192.168.1.2
User q4dazrj7qmeey7
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-05-%h%p%r.ctrl_path

Host china-ubuntu-06
HostName 192.168.1.2
User t8k3hcc7xdo3ww
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-06-%h%p%r.ctrl_path

Host china-ubuntu-76
HostName 192.168.1.108
User t8k3hcc7xdo3ww
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-06-%h%p%r.ctrl_path

Host china-ubuntu-86
HostName 192.168.1.109
User t8k3hcc7xdo3ww
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-06-%h%p%r.ctrl_path

Host china-ubuntu-super
HostName 192.168.1.2
User um2b362vnzuuvxh
ControlMaster auto
ControlPath ~/.ssh/china-ubuntu-06-%h%p%r.ctrl_path